# Data cleaning

In [1]:
import pandas as pd

In [47]:
df = pd.read_csv('./dataset.csv')

In [38]:
df.shape

(2312, 10)

In [48]:
df.head()

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating
0,2454.0,5150,U.S.A.,2019.0,Madagascar,"Bejofo Estate, batch 1",76%,"3- B,S,C","cocoa, blackberry, full body",3.75
1,2458.0,5150,U.S.A.,2019.0,Dominican Republic,"Zorzal, batch 1",76%,"3- B,S,C","cocoa, vegetal, savory",3.50
2,2454.0,5150,U.S.A.,2019.0,Tanzania,"Kokoa Kamili, batch 1",76%,"3- B,S,C","rich cocoa, fatty, bready",3.25
3,797.0,A. Morin,France,2012.0,Peru,Peru,63%,"4- B,S,C,L","fruity, melon, roasty",3.75
4,797.0,A. Morin,France,2012.0,Bolivia,Bolivia,70%,"4- B,S,C,L","vegetal, nutty",3.50

In [49]:
df.columns

Index(['REF', 'Company (Manufacturer)', 'Company Location', 'Review Date',
       'Country of Bean Origin', 'Specific Bean Origin or Bar Name',
       'Cocoa Percent', 'Ingredients', 'Most Memorable Characteristics',
       'Rating'],
      dtype='object')

In [50]:
df.describe(include='all')

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating
count,2312.000000,2312,2312,2312.000000,2312,2312,2312,2224,2312,2312.000000
unique,NaN,541,67,NaN,63,1436,46,21,2270,NaN
top,NaN,Soma,U.S.A.,NaN,Venezuela,Madagascar,70%,"3- B,S,C","spicy, cocoa",NaN
freq,NaN,52,966,NaN,245,55,936,885,4,NaN
mean,1317.821367,NaN,NaN,2013.760813,NaN,NaN,NaN,NaN,NaN,3.184083
std,695.425750,NaN,NaN,3.591105,NaN,NaN,NaN,NaN,NaN,0.451961
min,5.000000,NaN,NaN,2006.000000,NaN,NaN,NaN,NaN,NaN,1.000000
25%,741.000000,NaN,NaN,2011.000000,NaN,NaN,NaN,NaN,NaN,3.000000
50%,1351.000000,NaN,NaN,2014.000000,NaN,NaN,NaN,NaN,NaN,3.250000
75%,1912.000000,NaN,NaN,2016.000000,NaN,NaN,NaN,NaN,NaN,3.500000
max,2490.000000,NaN,NaN,2020.000000,NaN,NaN,NaN,NaN,NaN,4.000000

In [51]:
df[df.columns[2]].value_counts()

U.S.A.                   966
France                   175
Canada                   161
U.K.                     126
Italy                     73
                        ...
Wales                      1
Suriname                   1
Martinique                 1
St.Vincent-Grenadines      1
Ghana                      1
Name: Company Location, Length: 67, dtype: int64