# Data cleaning

In [13]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('./dataset.csv')

Show some information and statistics about the dataset

In [3]:
df.shape

(2312, 10)

In [4]:
df.head()

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating
0,2454.0,5150,U.S.A.,2019.0,Madagascar,"Bejofo Estate, batch 1",76%,"3- B,S,C","cocoa, blackberry, full body",3.75
1,2458.0,5150,U.S.A.,2019.0,Dominican Republic,"Zorzal, batch 1",76%,"3- B,S,C","cocoa, vegetal, savory",3.50
2,2454.0,5150,U.S.A.,2019.0,Tanzania,"Kokoa Kamili, batch 1",76%,"3- B,S,C","rich cocoa, fatty, bready",3.25
3,797.0,A. Morin,France,2012.0,Peru,Peru,63%,"4- B,S,C,L","fruity, melon, roasty",3.75
4,797.0,A. Morin,France,2012.0,Bolivia,Bolivia,70%,"4- B,S,C,L","vegetal, nutty",3.50

In [5]:
df.columns

Index(['REF', 'Company (Manufacturer)', 'Company Location', 'Review Date',
       'Country of Bean Origin', 'Specific Bean Origin or Bar Name',
       'Cocoa Percent', 'Ingredients', 'Most Memorable Characteristics',
       'Rating'],
      dtype='object')

In [6]:
df.describe(include='all')

,REF,Company (Manufacturer),Company Location,Review Date,Country of Bean Origin,Specific Bean Origin or Bar Name,Cocoa Percent,Ingredients,Most Memorable Characteristics,Rating
count,2312.000000,2312,2312,2312.000000,2312,2312,2312,2224,2312,2312.000000
unique,NaN,541,67,NaN,63,1436,46,21,2270,NaN
top,NaN,Soma,U.S.A.,NaN,Venezuela,Madagascar,70%,"3- B,S,C","spicy, cocoa",NaN
freq,NaN,52,966,NaN,245,55,936,885,4,NaN
mean,1317.821367,NaN,NaN,2013.760813,NaN,NaN,NaN,NaN,NaN,3.184083
std,695.425750,NaN,NaN,3.591105,NaN,NaN,NaN,NaN,NaN,0.451961
min,5.000000,NaN,NaN,2006.000000,NaN,NaN,NaN,NaN,NaN,1.000000
25%,741.000000,NaN,NaN,2011.000000,NaN,NaN,NaN,NaN,NaN,3.000000
50%,1351.000000,NaN,NaN,2014.000000,NaN,NaN,NaN,NaN,NaN,3.250000
75%,1912.000000,NaN,NaN,2016.000000,NaN,NaN,NaN,NaN,NaN,3.500000
max,2490.000000,NaN,NaN,2020.000000,NaN,NaN,NaN,NaN,NaN,4.000000

## Column transformations

Remove % symbol from Cocoa Percent and convert to float.

In [7]:
df['Cocoa Percent'] = df['Cocoa Percent'].str.replace('%', '').astype('float')

Encode ingredients.

From http://flavorsofcacao.com:

> "#" = represents the number of ingredients in the chocolate; B = Beans, S = Sugar, S* = Sweetener other than white cane or beet sugar, C = Cocoa Butter, V = Vanilla, L = Lecithin, Sa = Salt

For each of the above ingredients, let's create a column which indicates whether that ingredient is used or not.

In [8]:
df['Beans'] = df['Ingredients'].str.contains('B') + 0
df['Cocoa Butter'] = df['Ingredients'].str.contains('C') + 0
df['Vanilla'] = df['Ingredients'].str.contains('V') + 0
df['Lecithin'] = df['Ingredients'].str.contains('L') + 0
df['Sugar'] = df['Ingredients'].str.contains('S(?!\*|a)') + 0
df['Sweetener'] = df['Ingredients'].str.contains('S\*') + 0
df['Salt'] = df['Ingredients'].str.contains('Sa') + 0

In [28]:
def split_words(s):
    result = s.lower().replace('and', ',').split(',')
    return list(map(lambda x: x.strip(), result))

characteristics = df['Most Memorable Characteristics'].apply(split_words).explode().unique()

In [124]:
df[df.columns[8]].value_counts()

spicy, cocoa                       4
creamy, nutty, cocoa               4
cherry, rich choco                 3
sandy, sweet                       3
sweet, vanilla, cocoa              3
                                  ..
honey, pepper, charcoal            1
sandy, basic cocoa                 1
coffee, red berry, tart            1
intense, simple, floral, earthy    1
vanilla, earthy, caramel           1
Name: Most Memorable Characteristics, Length: 2270, dtype: int64